<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="/Chart.bundle.min.js"></script>
   <title>Covid19 Data</title>
   <style>
   {
      box-sizing: border-box;
   }
   .column {
      float: left;
      width: 650px;
   }
   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<body>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='/'><span>Charts</span></a></li>
   <li><a href='/covid_logview.html'><span>Log</span></a></li>
   <li class='last'><a href='/contact.html'><span>Contact</span></a></li>
</ul>
</div>

<p>
<p>Report date: {{ now }}
<br>

<table border=2>
<tr>
<th>Total Cases
<th>Total Deaths
<th>Total Hospitalized
<th>On Ventilator
<th>Daily Cases
<th>Daily Deaths
<th>Total Vaccines Administered
<tr>
<td>{{ totalcases }}<td>{{ totaldeaths }}<td>{{ totalhospitalized }}
<td>{{ totalvent }}<td>{{ dailycases }}<td>{{ dailydeaths }}<td>{{ vaccines }}
</table>
<br><br>
<div style="clear:both;"></div>
<div class="row">
<div class=column style="background-color:white;">

<table width=600px><tr><td>
<canvas id="lineChart"  width="600" height="450"  style="border:4px solid #3432a8;"></canvas>
<script>
new Chart(document.getElementById("lineChart"), {
  type: 'line',
  data: {
    labels: {{ dates | safe }},
    datasets: [
      { 
        data: {{ deaths }},
        label: "Deaths",
        borderColor: "#3e95cd",
        fill: false
      },  
      {
        data: {{ deaths7d }},
        label: "Deaths 7day Rolling Avg",
        borderColor: "red",
        fill: false
      },

    ]
  },
  options: {
    responsive: false,
    title: {
      display: true,
      text: 'COVID-19 US Deaths'
    }
  }
});
</script>
</table>
</div>

<div class="row">
<table width=600px><tr><td>
<canvas id="lineChart-2"  width="600" height="450"  style="border:4px solid #3432a8;"></canvas>
<script>
new Chart(document.getElementById("lineChart-2"), {
  type: 'line',
  data: {
    labels: {{ dates | safe }},
    datasets: [
      {
        data: {{ cases }},
        label: "Cases",
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: {{ cases7d }},
        label: "Cases 7day Rolling Avg",
        borderColor: "red",
        fill: false
      },
    ]
  },
  options: {
    responsive: false,
    title: {
      display: true,
      text: 'COVID-19 US Cases'
    }
  }
});
</script>
</table>
</div>
<div class="row">
<table width=600px><tr><td>
<canvas id="lineChart-3"  width="600" height="450"  style="border:4px solid #3432a8;"></canvas>
<script>
new Chart(document.getElementById("lineChart-3"), {
  type: 'line',
  data: {
    labels: {{ dates | safe }},
    datasets: [
      {
        data: {{ hospitalized }},
        label: "Hospitalized",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    responsive: false,
    title: {
      display: true,
      text: 'COVID-19 US Hospitalized'
    }
  }
});
</script>
</table>
</div>

</div>


</body>
</html>
